<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md bd-navbar">
        <a href="#" class="navbar-brand">Async Inn</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a href="/Home/Index" class="nav-link active">Home</a>
                </li>

                <li class="navbar-item">
                    <a href="/Hotels/Index" class="nav-link inactive">Hotels</a>
                </li>
                <li class="navbar-item">
                    <a href="/HotelRooms/Index" class="nav-link inactive">Hotel Rooms</a>
                </li>
                <li class="navbar-item">
                    <a href="/Rooms/Index" class="nav-link inactive">Rooms</a>
                </li>
                <li class="navbar-item">
                    <a href="/RoomAmenities/Index" class="nav-link inactive">RoomAmenities</a>
                </li>
                <li class="navbar-item">
                    <a href="/Amenities/Index" class="nav-link inactive">Amenities</a>
                </li>
            </ul>
        </div>
    </nav>

    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
