<partial name="~/Views/Shared/_PageHeading.cshtml" view-data="ViewData" />

<div class="container">
    <partial name="~/Views/Shared/_CreateButton.cshtml" view-data="ViewData" />
    <!--partial name="~/Views/Shared/_SearchBar.cshtml" view-data="ViewData" /-->
</div>
