@{ 
    Layout = "_Layout";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Async Inn Hotel Management System</h1>
        <p class="lead">Lets make life great for our tenants<p>
        <hr class="my-4">
        @*<p>Manage rooms.</p>*@
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Start here</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-sm-3" style="width: 20rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hotels</h5>
                <p class="card-text">Manage hotel location details.</p>
                <a href="#" class="btn btn-primary">hotels</a>
            </div>
        </div>

        <div class="card col-sm-3 offset-1" style="width: 20rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rooms</h5>
                <p class="card-text">Manage room details.</p>
                <a href="#" class="btn btn-primary">rooms</a>
            </div>
        </div>

        <div class="card col-sm-3 offset-1" style="width: 20rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Amenities</h5>
                <p class="card-text">Manage amenity details.</p>
                <a href="#" class="btn btn-primary">amenities</a>
            </div>
        </div>

    </div>
</div>