@{ 
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="~/wwwroot/images/hotelHallway.jpg" width="4356" height="3716" alt="Photo of a hotel hallway by Yuya Hata on Unsplash" />
    </div>
</div>